body{
    font-family: Arial;
    font-size:20px;
    text-align:center;
    color:#999;
    margin:0;
    line-height:1.5;
}
h1{
    font-size:60px;
    margin-bottom:0;
    Background-color:rgb(59, 38, 38);
}
p{
    background-color:rgb(59, 38, 38);
}
h3{
    font-size:30px;
    background-color:rgb(43, 60, 61);
}
a{
    color:#477ca7
}
#body{
    margin: 30px 8px;
    padding:15px;
    border-radius:5px;
    background:#000;
}
img{
    max-width:100%;
    display:block;
    height:auto;
    margin:0 auto;
}
#img-caption{
    margin:15px 0 5px 0;
}
ul{
    max-width:550px;
    margin:0 auto 0 auto;
    text-align:left;
    line-height:1.6;
}
li{
    margin:16px 0;
}
strong{
    color: rgb(55, 175, 184);
}